@model IEnumerable<AutoPart.Models.Part>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<style>
    .profileImage {
        height: 90px;
        width: 90px;
        border-radius: 10px;
    }
</style>

<h2>Parts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover" id="parts">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand.CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSub1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSub2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityinStock)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-bold">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    <img src=@item.Image class="profileImage" />
                </td>
                <td>
                    <img src=@item.ImageSub1 class="profileImage" />
                </td>
                <td>
                    <img src=@item.ImageSub2 class="profileImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityinStock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { 
                        id = item.Id, 
                        carBrand = item.CarBrand.CarBrandName,
                        category = item.Category.Name,
                        manufacturer = item.Manufacturer.Name,
                        supplier = item.Supplier.Name
                    }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#parts").DataTable({
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
        })
    </script>
}
