@model IEnumerable<AutoPart.Models.Order>

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}

<h2 class="text-center fw-bold my-3">View Orders</h2>

<div class="container v">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-3">
                <div class="card" >
                    <div class="card-header px-3"><span class="fw-bold">Order No:</span> @item.Id</div>
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-3"><span class="fw-bold">Customer Name: </span> @item.Customer.Name</li>
                        <li class="list-group-item px-3"><span class="fw-bold">Email: </span> @item.Customer.Email</li>
                        <li class="list-group-item px-3"><span class="fw-bold">Address: </span> @item.Customer.Address</li>
                        <li class="list-group-item px-3"><span class="fw-bold">City: </span> @item.Customer.City</li>
                        <li class="list-group-item px-3"><span class="fw-bold">State: </span> @item.Customer.State</li>
                        <li class="list-group-item px-3"><span class="fw-bold">Phone: </span> @item.Customer.Phone</li>
                        <li class="list-group-item px-3"><span class="fw-bold">Order Date: </span> @item.OrderDate</li>
                        <li class="list-group-item px-3"><span class="fw-bold">Total Amount: </span> $@item.Amount</li>
                        <li class="list-group-item px-3">
                            @Html.ActionLink("View Order Detail", "ViewOrderDetail", new { id = item.Id, amount = item.Amount }, new { @class = "btn btn-secondary my-2" })
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>