@model AutoPart.Models.Order

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}

<style>
    .v{
        min-height: 100vh;
    }
    .footerr{
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>

<h2 class="text-center fw-bold my-3">View Order</h2>

<div class="container v">
    <div class="card" style="width: 30rem;">
        <div class="card-header px-3"><span class="fw-bold">Order No:</span> @Model.Id</div>
        <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-3"><span class="fw-bold">Customer Name: </span> @Model.Customer.Name</li>
            <li class="list-group-item px-3"><span class="fw-bold">Order Date: </span> @Model.OrderDate</li>
            <li class="list-group-item px-3"><span class="fw-bold">Total Amount: </span> $@Model.Amount</li>
            <li class="list-group-item px-3">
                @Html.ActionLink("View Order Detail", "ViewOrderDetail", new { id = Model.Id, amount = Model.Amount }, new { @class = "btn btn-secondary my-2" })
            </li>
        </ul>
    </div>
    @Html.Partial("_PartialFooter")
</div>